/*WORDLE title*/
.header {
    -fx-font-size: 45px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #cbf120 25%, #4de13c 50%);
    -fx-font-weight: bold;
    -fx-font-family: "HelveticaNeue";
}

/*Pane*/
.paneBackground {
    -fx-background-color: dimgray;
}

/*Login form*/
.loginTitle {
    -fx-font-size: 30px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #cbf120 25%, #4de13c 50%);
    -fx-font-weight: bold;
    -fx-font-family: "MS Reference Sans Serif";
}

.loginField:focused {
    -fx-border-color: linear-gradient(from 0% 0% to 100% 200%, repeat, #cbf120 25%, #4de13c 50%);
}

/*Register form*/
.registerTitle {
    -fx-font-size: 30px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #cbf120 25%, #4de13c 50%);
    -fx-font-weight: bold;
    -fx-font-family: "MS Reference Sans Serif";
}

.registerField:focused {
    -fx-border-color: linear-gradient(from 0% 0% to 100% 200%, repeat, #cbf120 25%, #4de13c 50%);
}

/*Game grid*/
.square {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-background-color: #c5c5c5;
}

.square-trans {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-background-color: dimgray;
}

.answer-field {
    -fx-padding: 10px;
    -fx-border-color: linear-gradient(from 0% 0% to 100% 200%, repeat, #cbf120 25%, #4de13c 50%);
    -fx-max-width: 300px;
    -fx-font-size: 15px;
}

/*TEXT FIELDS*/
.field-green {
    -fx-background-color: #509950;
}

.field-yellow {
    -fx-background-color: #b9b736;
}

/*SCORE*/
.score {
    -fx-font-size: 15px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #cbf120 25%, #4de13c 50%);
    -fx-font-weight: bold;
    -fx-font-family: "MS Reference Sans Serif";
}

.score-low {
    -fx-font-size: 15px;
    -fx-text-fill: #ff3838;
    -fx-font-weight: bold;
    -fx-font-family: "MS Reference Sans Serif";
}

.score-high {
    -fx-font-size: 15px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #cbf120 25%, #4de13c 50%);
    -fx-font-weight: bold;
    -fx-font-family: "MS Reference Sans Serif";
}

/*BUTTONS*/
.buttons {
    -fx-background-color: #b4f350;
    -fx-padding: 5px;
    -fx-font-size: 15px;
}

/*SCORE OVERVIEW*/
.score-overview {
    -fx-font-size: 20px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #cbf120 25%, #4de13c 50%);
    -fx-font-weight: bold;
    -fx-font-family: "MS Reference Sans Serif";
}

/*FINISH TEXT*/
.finish-text {
    -fx-font-size: 30px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #cbf120 25%, #4de13c 50%);
    -fx-font-weight: bold;
    -fx-font-family: "HelveticaNeue";
}